<!DOCTYPE html>
<html>
    <head><meta charset="UTF-8"></head>
    <body>
        <button id = "record">Start</button>
        <button id = "stop">Stop</button>
        <textarea id="response">value</textarea>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type = "text/javascript">



        const recordAudio = () =>
        new Promise(async resolve => {
        const stream = await navigator.mediaDevices.getUserMedia({
            video: false,
            audio: {
                channelCount : 1,
                frameRate: 44100,
                sampleSize: 16
            }});
            var options = {
                audioBitsPerSecond: 128000,
                mimeType: 'audio/webm'
            }
            const mediaRecorder = new MediaRecorder(stream,options);
            let audioChunks = [];

            mediaRecorder.addEventListener('dataavailable', event => {
                audioChunks.push(event.data);
            });

            const start = () => {
                audioChunks = [];
                mediaRecorder.start();
            };

            const stop = () =>
                new Promise(resolve => {
                mediaRecorder.addEventListener('stop', () => {
                    const audioBlob = new Blob(audioChunks,{type:'audio/wav'});
                    resolve({audioBlob});
                });

                mediaRecorder.stop();
            });

            resolve({ start, stop });
        });

            const recordButton = document.querySelector('#record');
            const stopButton = document.querySelector('#stop');

            let recorder;
            let audio;

            recordButton.addEventListener('click', async () => {
                recordButton.setAttribute('disabled', true);
                stopButton.removeAttribute('disabled');
                if (!recorder) {
                  recorder = await recordAudio();
                }
                recorder.start();
            });

            stopButton.addEventListener('click', async () => {
                recordButton.removeAttribute('disabled');
                stopButton.setAttribute('disabled', true);
                audio = await recorder.stop();
                var fd = new FormData();
                fd.append('upl', audio.audioBlob, 'blobby.mp3');
                fetch('https://localhost:3100/test',
                {
                    method: 'post',
                    body: fd
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('response').innerText(data);
                })
                .catch(err => console.log(err));
                //let result = await response.json();
                //result.then(()=>console.log('got it'));
                // .then((res) => res.json())
                // .then((json) =>console.log(json));
                // console.log(result); 
            });
        </script>
    </body>
</html>
