<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href = "/homepage.css">
    </head>
    <body>
        <div class = "wrapper">
            <div class="form">
                <textarea id = "query">Initial Text</textarea>
                <div class = "buttons">
                    <button id = "record" class="btn">Start</button>
                    <button id = "stop" class="btn">Stop</button>
                    <button id = "getquery" class="btn">GetQuery</button>
                </div>
                <textarea id = "result" rows="20">Query result</textarea>
            </div>
            
        </div>
        <script type = "text/javascript" src = "/js/homepage.js"></script>
    </body>
</html>
